{% extends 'base.html' %}
{% block title %} Articles {% endblock title %}
{% block content %}
    {% for article in object_list %}
        <div class="card" class="caption">
            
            <div class="card-header">
                
                <span class="font-weight-bold">{{article.title}}</span> &middot;
                <span class="text-muted"> {{article.author}} tarafından yazıldı | {{article.date}}</span>
            </div>
            <div class="card-body" class="caption">
                <img src="{{article.image.url}}" class="img-responsive">
                <p>{{article.body}}</p>
                <a href="{% url 'article_edit' article.pk %}" class="text-primary">Düzenle</a>
                <a href="{% url 'article_delete' article.pk %}" class="text-danger">Sil</a>
                

            </div>
            <div class="card-footer">
                {% for comment in article.comments.all %} 
                    <p>
                        <span class="font-weight-bold">{{comment.author}} &middot; </span>
                        {{comment}}
                    </p>
                {% endfor %}
            </div>
        </div>
    <br/>
    {% endfor %} 
{% endblock content %}


